<h1>A product you need quick!</h1>


If you order right now your order will be despatched on <%= despatch_day %> and is guaranteed
to be delivered on <%= delivery_day %> if you choose our next day delivery option at checkout.