<h1>A product you need quick!</h1>

<h2>Live Countdown</h2>

<div class="delivery_cut_off">
Order in the next <span class="cut_off_countdown"></span> and you will receive your order on <%= delivery_day_in_english %>
</div>

<h2>Amazon Style</h2>
<p>
<strong>Want guaranteed delivery by <%= delivery_day_in_english %></strong>? Order in the next <span class="cut_off_countdown"></span>, and choose Express delivery at checkout. <a href="http://i.imgur.com/CUceP.jpg">See Details</a>
</p>